body{
    background-color: rgb(192, 192, 192);
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Roboto', sans-serif;
    color: rgb(219, 28, 28);
}

#main{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

label {
    font-size: 1.25rem;
    font-weight: bolder;
    margin: 0 auto;
}

.hide {
    display: none;
}

.card-body{
    padding: 1rem 0 1rem 0;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.5);
}

.card{
    display: flex;
}

.haul-cost{
    display: flex;
    align-items: center;
}

.final-section{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .haul-cost {
      flex-direction: column;
    }
    .final-section{
        flex-direction: column;
    }
  }
